
form label {
    font-size: large;
    font-weight: normal;
}

.form-group {
    padding-top: 40px;
}

.footer {
    padding: 60px;
}

#summary-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#summary-table thead {
    width: 100%;
}

#summary-table tbody {
    float: left;
    overflow: auto;
    width: 100%;
    height: 200px;
}
#summary-table tr {
    width: 100%;
    display: table;
    text-align: left;
}
#summary-table th, #summary-table td {
    width: 17%;
}

#summary-table tbody tr td a {
    display: block;
}

