
form label {
    font-size: large;
    font-weight: normal;
}

.form-group {
    padding-top: 40px;
}

.footer {
    padding: 60px;
}


table.tableSection {
    display: table;
    width: 100%;
    table-layout: fixed;
}
table.tableSection thead {
    float: left;
    width: 98.5%;
}

table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 200px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.tableSection th, table.tableSection td {
    width: 17%;
}