<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/map.png" alt="Course Logo" class="img-responsive">

            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {{#link-to 'stockSummary' tagName="a" class="navbar-brand"}}Stock State Summary{{/link-to}}
                </div>
            </nav>
        </div>
    </div>
    {{outlet}}
</div>