<div class="page-header">
    <h2><small>&nbsp<strong>{{model.name}}</strong></small></h2>
</div>

<div class="row">
    <div class="col-md-4">
        {{render "marketByOrder" model}}
    </div>

    <div class="col-md-5">
        {{render "marketByPrice" model}}
    </div>

    <div class="col-md-3">
        <img class="img-responsive" {{bind-attr src=model.logoURL}} alt="logo">
    </div>
</div>