<h4>Market by Order</h4>

<table class="table table-bordered" summary="Selected company market by order">
    <thead>
    <tr>
        <th colspan="2">Buy</th>
        <th colspan="2">Sell</th>
    </tr>
    <tr>
        <th>Volume</th>
        <th>Price</th>
        <th>Price</th>
        <th>Volume</th>
    </tr>
    </thead>
    <tbody>

    {{#each line in sortedOrders}}
            <tr>
                <td>&nbsp{{line.bidVolume}}</td>
                <td> {{line.bidPrice}}</td>
                <td> {{line.sellPrice}}</td>
                <td> {{line.sellVolume}}</td>
            </tr>
    {{/each}}
    </tbody>
</table>