<h4>Market by Order</h4>

<table class="table" summary="Selected company market by order">
    <thead>
    <tr>
        <th colspan="2">Buy</th>
        <th colspan="2">Sell</th>
    </tr>
    <tr>
        <th>Volume</th>
        <th>Price</th>
        <th>Volume</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>


    {{#each bid in model.bids}}
            <tr>
                <td>{{bid.volume}}</td>
                <td>{{bid.price}}</td>
            </tr>
    {{/each}}
    </tbody>
</table>